<ng-form name="dtgeForm" novalidate>
    <div class="dtge-dialog" ng-controller="Our.Umbraco.DTGERCE.Dialog">

        <div ng-switch="dialogMode">

            <!-- normal dialog view -->
            <div ng-show="!isLinkedToNode">
                <umb-control-group label="{{selectContentTypeLabel}}" ng-switch-when="selectDocType">
                    <ul class="umb-actions umb-actions-child">
                        <li data-element="action-create-{{docType.alias}}" ng-repeat="docType in docTypes | orderBy:'name':false">
                            <a ng-click="selectDocType(docType.alias)">
                                <i class="large {{docType.icon}}"></i>
                                <span class="menu-label">
                                    {{docType.name}}
                                    <small>
                                        {{docType.description}}
                                    </small>
                                </span>
                            </a>
                        </li>
                    </ul>
                </umb-control-group>


                <div ng-switch-when="edit">
                    <fieldset ng-repeat="tab in model.node.tabs">
                        <legend style="font-size: 18px;">{{tab.label || tab.alias}}</legend>
                        <umb-property property="property"
                                        ng-repeat="property in tab.properties">
                            <umb-editor model="property" ng-if="property.alias !== 'dtgeLinkedId'"></umb-editor>
                        </umb-property>
                    </fieldset>
                </div>

                <!-- added buttons -->
                <div ng-show="content !== false" class="control-group umb-control-group row">
                    <div class="btn-toolbar umb-btn-toolbar pull-right">
                        <button type="button" class="btn umb-button__button" ng-click="selectNodeToCopyUnder()">
                            Export To Node
                        </button>
                        <button type="button" class="btn umb-button__button" ng-click="selectNodeToImportFrom()">
                            Import
                        </button>
                        <button type="button" class="btn umb-button__button" ng-click="selectNodeToLink()" ng-show="canLink">
                            Link To Node
                        </button>
                    </div>
                </div>

            </div>

            <!-- when content linked to a different node -->
            <div ng-show="isLinkedToNode">
                <umb-pane>
                    <h3>This Content Is Linked To A Node.</h3>
                    <p>The content for this grid control is current linked 
                        to the content node '<a href="{{linkedNode.url}}"><i class="icon-link"></i> {{linkedNode.name}} ({{linkedNode.id}})</a>'. 
                        Changes to the content in that node will update this grid control. 
                        If you wish to edit this control's' content independently 
                        of the node, you must first unlink it.</p>
                </umb-pane>
                <div class="control-group umb-control-group">
                    <button type="button" class="btn umb-button__button" ng-click="unlinkFromNode()">
                        Unlink
                    </button>
                </div>                
            </div>

        </div>
    </div>
</ng-form>